.h1 {
  color: rgba(0,0,0,.8);
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  padding-bottom: 15px;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
}